body {
  background-color: #f0ece3;
  font-weight: 500;
}

.headerWrapper {
  margin: 10px;
  padding: 10px;
}

.headerWrapper h3,
.formHeading h3 {
  color: blue;
  font-size: 23px;
}

.sideItems {
  text-align: end;
}

.sideItems p {
  display: inline;
  margin: 10px;
}

.tmarks {
  background-color: #f0a500;
  border-radius: 20px;
  padding: 3px 10px;
}

.selectionWrapper {
  background-color: white;
  border-radius: 25px;
  padding: 7px;
}

.slection {
  color: blue;
  font-size: 20px;
}

.mainWrapper {
  flex: 1;
  flex-direction: row;
}

.optionWrapper,
.qustionAswnsWrapper {
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  height: 100%;
}

.optionWrapper {
  padding: 7px;
}

.optionWrapper h3 {
  padding: 5px;
  margin: 5px;
}

.qnaBox {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.boxes {
  margin-bottom: 20px;
}

.boxes p {
  color: grey;
  font-size: small;
  margin: 0px;
}

.boxes select {
  border: none;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
  font-size: 14px;
}

.bttonStyle {
  border-radius: 25px;
  border: 1px solid blue;
  padding: 13px 30px;
  margin-top: 15px;
  background-color: blue;
  color: white;
}

.bttonStyle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.check {
  margin-left: 45px;
  margin-right: -39px;
  margin-top: 10px;
}

.qnAns {
  text-align: center;
  justify-content: center;
}

.filterWrapper .ansbox {
  text-align: start;
  padding-bottom: 10px;
}

.ansbox input {
  width: 16px;
  height: 16px;
}

.mainQustion p {
  font-size: 22px;
}

.maksWrapper {
  text-align: end;
  margin-top: 50px;
}

.sideIcons1 h5,
.sideIcons2 p {
  font-size: 15px;
}

.sideIcons1 h5 {
  margin-right: 8px;
}

.sideIcons2 {
  margin-top: -23px;
  margin-right: 10px;
  margin-left: 10px;
}

.sideIcons3 i {
  background-color: #e83350;
  border-radius: 25px;
  padding: 12px;
  color: white;
  border: 1px solid #e83350;
}

.sideIcons4 i {
  background-color: #dae0e2;
  border-radius: 25px;
  border: 1px solid #dae0e2;
  padding: 12px;
  color: white;
}

.sideIcons3 i:hover {
  background-color: white;
  border: 1px solid #e83350;
  color: black;
}

.sideIcons4 i:hover {
  background-color: white;
  border: 1px solid #e83350;
  color: black;
}

.footer {
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.footerbtns {
  margin: 10px;
}

.previewButtonStyle {
  border-radius: 25px;
  border: 1px solid #e83350;
  padding: 13px 30px;
  margin-top: 15px;
  background-color: #e83350;
  color: white;
}

.previewButtonStyle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.cancleButtonStyle {
  border-radius: 25px;
  border: none;
  padding: 13px 30px;
  margin-top: 15px;
  background-color: #dae0e2;
  color: black;
}

.cancleButtonStyle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* form css */
.fromWrapper {
  background-color: white;
  margin-top: 80px;
  height: 100%;
  padding: 10px;
}

.formHeading h3 {
  margin: 50px;
  font-size: 25px;
}

.formHeading i {
  color: #f0a500;
  font-size: 45px;
  margin-right: 15px;
}

.formHeading {
  padding: 0%;
}

.borderBottom {
  border-bottom: 1px solid grey;
  padding: 0;
  margin: 0;
}

.mainForm {
  padding: 20px;
}

.mainForm h5 {
  font-size: 24px;
  margin: 10px 50px;
}

.mainForm p {
  margin-left: 30px;
  font-size: 20px;

  margin-top: 40px;
}

.inputFildes {
  margin-left: 30px;
  margin-top: 20px;
}

.inputHolders span {
  color: gray;
  font-size: 15px;
  margin: 0px;
}

.inputHolders input,
.inputHolders select {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
}

.footerStyle {
  padding: 20px;
  border-top: 1px solid grey;
  padding: 0;
  margin: 0;
}

.footerStyle .cancleButtonStyle {
  margin-right: 10px;
}
