body {
  background-color: #f0ece3;
}

.headerWrapper {
  margin: 10px;
  padding: 10px;
}

.headerWrapper h3 {
  color: blue;
  font-size: 23px;
}

.sideItems {
  text-align: end;
}

.sideItems p {
  display: inline;
  margin: 10px;
}

.tmarks {
  background-color: #f0a500;
  border-radius: 20px;
  padding: 3px 10px;
}

.selectionWrapper {
  background-color: white;
  border-radius: 25px;
  padding: 7px;
}

.slection {
  color: blue;
  font-size: 20px;
}

.optionWrapper,
.qustionAswnsWrapper {
  background-color: white;
  border-radius: 19px;
  padding: 39px;
  margin-left: 50px;
  margin-right: 50px;
}

.boxes {
  padding: 0px;
  margin: 0px;
}

.boxes p {
  color: grey;
  font-size: small;
}

.boxes select {
  border: none;
  padding: 5px 160px 10px 0px;
  border-bottom: 2px solid black;
}

.bttonStyle {
  border-radius: 25px;
  border: 1px solid blue;
  padding: 13px 30px;
  margin-top: 15px;
  background-color: blue;
  color: white;
}

.bttonStyle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.qustionAswnsWrapper {
  background-color: white;
  margin-top: 20px;
}

.check {
  margin-left: 96px;
  margin-right: -53px;
}

.ansbox {
  text-align: end;
  padding: 5px;
  font-size: 19px;
  margin-right: 2px;
}

.mainQustion p {
  font-size: 22px;
}

.maksWrapper {
  text-align: end;
  padding-top: 10px;
}

.sideIcons1 h5,
.sideIcons2 p {
  font-size: 15px;
}

.sideIcons1 h5 {
  margin-right: 8px;
}

.maksWrapper .boxes select {
  padding: 0px 63px 0px 0px;
}

.sideIcons2 {
  margin-top: -23px;
  margin-right: 10px;
  margin-left: 10px;
}

.sideIcons3 i {
  background-color: #e83350;
  border-radius: 25px;
  padding: 12px;
  color: white;
  border: 1px solid #e83350;
}

.sideIcons4 i {
  background-color: #dae0e2;
  border-radius: 25px;
  border: 1px solid #dae0e2;
  padding: 12px;
  color: white;
}

.sideIcons3 i:hover {
  background-color: white;
  border: 1px solid #e83350;
  color: black;
}

.sideIcons4 i:hover {
  background-color: white;
  border: 1px solid #e83350;
  color: black;
}

.footer {
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.footerbtns {
  margin: 10px;
}

.previewButtonStyle {
  border-radius: 25px;
  border: 1px solid #e83350;
  padding: 13px 30px;
  margin-top: 15px;
  background-color: #e83350;
  color: white;
}

.previewButtonStyle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.cancleButtonStyle {
  border-radius: 25px;
  border: none;
  padding: 13px 30px;
  margin-top: 15px;
  background-color: #dae0e2;
  color: black;
}

.cancleButtonStyle:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
